<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- di 패키지에 있는 클래스 중에서
	@Component 어노테이션이 붙은 클래스의 bean을 자동 생성 -->
	<context:component-scan base-package="di" />
		
	<!-- 어노테이션 설정을 적용하기 위한 태그 -->
	<context:annotation-config/>
	
</beans>
